[View in Colaboratory](https://colab.research.google.com/github/davidkant/mai/blob/master/tutorial/1_1_Hello_Python.ipynb)

# Welcome to Python!
Welcome to **Python** and the **Google Colaboratory** notebook. Google Colaboratory a Python environment based on **Jupyter notebook** that runs in the cloud. Notebooks are accessed, stored, and shared via Google Drive and run using a desktop web browser — I recommend Chrome. 
* Python is the programming language
* Google Colaboratory is a cloud-based browser application that allow us to write and view the results of Python code
* Google Colaboratory is based on the Jupyter Notebook, which doesn't run in the cloud!

## About Python

Python is an interpreted, general purpose, high-level, readable, and dynamic programming language that supports multiple programming paradigms. If you're familiar with languages like Java or C, you'll notice an absence of semicolons and curly braces in Python. That's because in Python whitespace is meaninful!

# Cells 
Code lives in indivudal blocks called "cells." You write code within a cell and then execute that cell by selecting "Run focused" from the "Runtime" dropdown menu above. Alternatively, use the keyboard shortcut Ctrl+Enter. Navigate to the cell below and run it.

In [1]:
print "Hello 80L!"

Hello 80L!

# Hello World: Print
The first thing we usually do in any programming language is "Hello World!" In Python, use the `print` statement to print to the console.

In [2]:
print "Hello 80L!"

Hello 80L!

# The Python Interpreter
`Print` isn't the only way to see the resuls of your code. Code cells allow you to interact with the Python *interpreter*, which is what we call the program that executes your code. By default, whenever you execute a cell, the interpreter returns the result of that execution. Execute the cell below and you should see the result of your computation.

In [3]:
1 + 2

3

What do you think we'll see when we run the cell below?... If the cell contains multiple lines of code, the interpreter displays the result of the last line only.

In [4]:
1 + 2
2 + 3
3 + 4
4 + 5

9

# Comments
A comment is code that is not executed by the interpreter. Comments are indicated by the pound symbol `#`. We'll use comments to make notes to ourselves about what our code does. Remember, comments are there for the computer programmer — that's you! — not the computer program.

In [5]:
# note to self, you can write anything here!
print "Hello 80L!"

Hello 80L!

# Python as a Calculator
Computers are great for doing math. Python is capable of performing all of the standard arithmetic operations: addition, subtraction, multiplication, division, and exponentiation.

In [6]:
# addition
print 79 + 1

# subtraction
print 100 - 1

# multiplication
print 2 * 5

# division
print 33 / 11

# floor division (quotient)
print 10 // 8

# modulo division (remainder)
print 10 % 8

# exponents
print 2**3

# complex expressions (order of operations)
print -2 + 3 * 4 - 10

80
99
10
3
1
2
8
0

# Variables
A fundmantal concept in computer programming is the variable. Variables allow us to keep track of data by storing it for later. Variables have both a *name* and a *value*. The process of *variable assignment* associates a variable name with a given value.

In the cell below, `my_first_variable` is the variable name, `9` is the variable value, and the eqausl sign `=` assigns the value `9` to the name `my_first_variable`.

In [0]:
# declare my variable
my_first_variable = 9

We can declare our variable in one cell and recall it in another. Variables *persist* between cells. In fact, variables persist throughout an entire notebook, allowing us to keep track of data from one cell to the next. BUT once you close the notebook, it's all over...

In [8]:
# recall my variable
print my_first_variable

9

The value of a variable can be modified once it's declared.

In [9]:
# change the value of my variable to 1
my_first_variable = 1
print my_first_variable

1

We can even use the value of a variable to modify itself!

In [10]:
# increment value of my variable by 1
my_first_variable = my_first_variable + 1
print my_first_variable

2

# Errors
What happens if we use a variable name *before* we declare it? ...Say hello to your first *Error*. We'll definitely see a lot of these, so don't let all of that red text induce too much fear. The best way to become a better programmer is to get friendly with errors. Think of them as friendly reminders of what went wrong. In this case, the error message is telling us exactly what the problem is: we used a varaible name that is not defined.

In [11]:
print my_second_variable

NameError: ignored


# Not all numbers are created equal!
Python distinguished between integers and floating point (decimal point) numbers.

What do you think will be the result of  `33 / 10` ?

In [12]:
print 33 / 10

3

If both numbers in an expression are written as integers, Python will do integer division, dicarding anything after the decimal point. We can force Python to use floating point division by making at least one or both of the numbers floating point numbers (using a decimal point).

In [13]:
print 33.0 / 10.0

3.3

# Data Types
The difference between *integer* and *float* is an example of a more general concept called *data types*. Data is classified into different data types, which specify what values the data can  take on and what operations can be performed on that data. There are many data types, but we'll just need a few: integers, floating point numbers, booleans (True or False) to start, and strings.

In [14]:
print type(1)
print type(True)
print type(1.0)
print type("Hello 80L!")

<type 'int'>
<type 'bool'>
<type 'float'>
<type 'str'>

# Lists
A *data structure* is a way of organzing data within a computer program. Different data structures embody different ideas about how to represent information. There are many many ways of reprsenting data, but throughout this course the *list* will be the most commonly used. A list is an ordered set of elements. It is delimitted by square brackets `[]` and the elements are separated by commas `,`.

In [15]:
# a simple list of numbers
my_first_list = [1, 2, 3, 4, 5]
print my_first_list

[1, 2, 3, 4, 5]

The elements of a list do not have to all be the same type.

In [16]:
# a simple list of mixed types
my_mixed_type_list = [1, True, 1.0, "Hello 80L!"]
print my_mixed_type_list

[1, True, 1.0, 'Hello 80L!']

You can access the elements of a list by appending square brackets and the element index to the list name. Note, in CS we **count from 0!**

In [17]:
# accesss the first element of my list
print my_first_list[0]

# accesss the second element of my list
print my_first_list[1]

# accesss the third element of my list
print my_first_list[2]

1
2
3

What happens if you try to access an element that does not exist? Here's error number two...

In [18]:
# accesss the sixth element of my list
print my_first_list[5]

IndexError: ignored

We can add an element to our list after it is created.

In [19]:
# add a sixth element to my list
my_first_list = my_first_list + [6]
print my_first_list

[1, 2, 3, 4, 5, 6]

We'll do this so much that often you'll see the shortcut `+=`

In [20]:
# add a seventth element to my list
my_first_list = my_first_list + [7]
print my_first_list

[1, 2, 3, 4, 5, 6, 7]

For all you set theorists out there, the empty list exists! Often we'll start with an empty list and incrementally add more and more elements to it.

In [21]:
# start from an empty list
empty_list = []
print empty_list

# and add elements to it
empty_list += ["Not so empty anymore"]
print empty_list

[]
['Not so empty anymore']

Often you'll need the last (most recently added) element of your list. You can access the last element using the index -1.

In [22]:
# last element of the list
print my_first_list[-1]

7

You can get the length of your list by writing `len()`. Note, in this cell, `len()` is a *function* and your list is passed as an *argument* to that function, but we'll learn about functions and arguments next week.

In [23]:
# length of my list
print len(my_first_list)

7

Other usefuly functions on lists include `min()` and `max()`,  which query the maximum element of a list .

In [24]:
# max element
print max(my_first_list)

# min element
print min(my_first_list)

7
1

# Generating Lists
You can always write a list explicitly, which means writing out all of the values between square brackets `[1,2,3,4]`, but what if you wang to generate a list using an algorithm or procedure? Python has a nifty *list comprehension* feature (which is really a clever version of a very classic computer science structure called a *for loop* but more on *for loops* next time). Try the next few cells to see if you can intuit what is going on here...

In [25]:
[x for x in range(5)]

[0, 1, 2, 3, 4]

In [26]:
[x for x in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

OKSO, the value between the parenthesis of `range()` determines the highest number in the list, and the expression `x**2` applies a function to each item in the list. Basically, we're looping through the values `0` to whatever-our-highest-value-is, applying a function to each element, and collecting it all back together into a new list. Pretty nifty.

# But how is this music?
Here's the big question of the clas: how do we turn these lists of numbers into music? See the next section to find out.

# Getting Help
* https://docs.python.org/2.7/